@model MVCClientApp.Models.Notification
@{
    ViewData["Title"] = "Send to a specific User";
}

@using (Html.BeginForm("SendToSpecificUser", "Notification", FormMethod.Post))
{
    <div class="row">
        <div class="col-3 text-right">
            UserId
        </div>
        <div class="col-6">
            <span id="userId"></span>
            @Html.HiddenFor(model => Model.UserId)
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-right">
            Receiver User Id
        </div>
        <div class="col-6">
            @Html.TextBoxFor(model => Model.ReceiverUserId, new { @maxlength = "10" })
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-right">
            Header
        </div>
        <div class="col-6">
            @Html.TextBoxFor(model => Model.Header, new { @maxlength = "50" })
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-right">
            Content
        </div>
        <div class="col-6">
            @Html.TextAreaFor(model => Model.Content)
        </div>
    </div>
    <div class="col-3 text-right">
        <button type="submit">Send to User</button>
    </div>
    <hr />
    <div class="text-center">
        <div id="chat"></div>
    </div>
}
<partial name="~/Views/Home/_SendUserScript.cshtml" model="@Model" />